#outer{
    border:2px solid black;
    width:400px;
    height:400px;
    background-color: green;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height:700px;
    
}