*{
    margin:0px;
    padding:0px;
    font-family: 'IBM Plex Serif', serif;
    /* font-family: 'Poppins', sans-serif; */
    
}
body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXbLE9KN4vbohcxSIoNyXWHqEiyY3v7xaEkg&usqp=CAU");
    width:100%;
    height:100%;
    background-size:cover;
    background-attachment: fixed;
}
.header{
    
    margin:25px;
}
nav{
    

    display:flex;
    justify-content: space-between;
}
.header-logo{
    width:105px;
    height:100px
}
ul{
    display:flex;
    list-style: none;
    gap:25px;
}
ul li a{
    text-decoration: none;
    font-weight: 600;
    color:rgb(194, 132, 7);
}
ul :hover{
    text-decoration: underline;
    font-weight: 900;
    color:rgb(193, 25, 109);
}
.button-small{
    background-color: rgb(193, 25, 109);
    color:white;
    padding:12px 40px;
    border:2px solid rgb(193, 25, 109);
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
    font-size:24px;

}
button:hover{
    background-color: rgb(194, 132, 7);
    color:black;
    
    font-weight: 900;
    

}
.main{
    
}
.main h1{
    text-align: center;
    font-size: 84px;
    font-weight: 900;
    color:rgb(194, 132, 7);
}
.main-button{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:23px 0px;
}
.button-large{
    background-color: rgb(193, 25, 109);
    color:white;
    padding:24px 46px;
    border:2px solid rgb(193, 25, 109);
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
    font-size: 32px;


}
.bottom{
    position:absolute;
    bottom:20px;
    right:40px;
}
